* {
  background-color: ghostwhite;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 480px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  body {
    width: 1000px;
    margin: 0 auto;
  }
}
